<div class="container">
    <div *ngIf="visits && visits.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data wizyty</th>
                    <th scope="col">Edytuj</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visit of visits; let i = index">
                    <th scope="row">{{ i }}</th>
                    <td>{{visit.visitDate}}</td>
                    <td>Z</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="visits && visits.length === 0">
        Brak twoich wizyt
    </div>
</div>