<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <h2>Rejestracja nowego pacjenta</h2>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" [(ngModel)]="user.username" class="form-control" id="name" name="name" required
            #name="ngModel">
        </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" required
            #name="ngModel">
        </div>

        <div class="form-group">
          <label for="pesel">Pesel</label>
          <input type="text" [(ngModel)]="user.pesel" class="form-control" id="pesel" name="pesel" required
            #name="ngModel">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="user.email" class="form-control" id="email" name="email" required
            #email="ngModel">
        </div>


        <div class="form-group">
          <label for="doctor">Doktor</label>
          <select class="form-control" [(ngModel)]="user.patient.doctor" name="doctor">
            <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{ doctor.user.name }} </option>
          </select>
        </div>

        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>

      </form>
    </div>
  </div>
</div>